@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
  
}
@theme {
  --color-basicColor: #8d0300;
  --color-greyColor: #f0f0f0;
  --color-whiteColor: #ffffff;
  --color-blackColor: #000000;
  --color-darkBasicColor: #5b0200;
}
